/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a,
a:hover {
  color: aliceblue;
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

.nav {
  display: flex;
}

.filtarDados {
  margin: auto;
  max-width: 95%;
  margin-top: 26px;
}